* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: montserrat;
    background: linear-gradient(rgba(115, 147, 179,0.8),rgba(115, 147, 179,0.8)),url(bk3.jpg);
    background-size: cover;
}
.header nav{
    background: #0082e6;
    height:80px;
    width:100%;
}
.header label.logo{
    color:white;
    font-size:35px;
    line-height:80px;
    padding:0 100px;
    font-weight:bold;
}
.header nav ul{
    float:right;
    margin-right:20px;

}
.header nav ul li{
    display:inline-block;
    line-height:80px;
    margin:0 50px;
    font-size:25px;

}

footer{
  position:fixed;
  text-align:center;
  padding :16px;
  bottom:0px;
  width:100%;
  background-color:darksalmon;
  color:white;
  
}
.container{
    width:100vmin;
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    overflow:hidden;
    border:10px solid #ffffff;
    border-radius:8px;
    box-shadow:10px 25px 30px rgba(30,30,200,0.3);

}
.wrapper{
    width:100%;
    display:flex;
    animation:slide 16s infinite;
}
@keyframes slide{
    0%{transform:translateX(0);}
     25%{transform:translateX(0);}
      30%{transform:translateX(-100%);}
       50%{transform:translateX(-100%);}
        55%{transform:translateX(-200%);}
         75%{transform:translateX(-200%);}
          80%{transform:translateX(-300%);}
           100%{transform:translateX(-300%);}

}
img{
    height:500px;
    width:3600px;
}
